<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Blackjack Game</title>
    <link rel="stylesheet" href="{% static 'game/css/play_hand.css' %}">
</head>

<body>
    <h1>Blackjack</h1>
    <div class="table">
        <div class="info">
            <p>Chip Count: {{ game.chip_count }}</p>
        </div>

        <div class="hand-title">Dealer's Hand:</div>
        {% if hide_dealer_card %}
        <p><strong>Dealer is showing: {{ dealer_cards.0.rank }}</strong></p>
        {% endif %}
        <p id="dealer-total" style="font-size: 1.2em; margin-top: 10px;"></p>
        <div class="card-container" id="dealer-hand">
            {% for card in dealer_cards %}
            <div class="card{% if forloop.counter != 1 %} hidden{% endif %}">
                <div class="top-left" style="align-self: flex-start">{{ card.rank }}<br>{{ card.suit }}</div>
                <div class="bottom-right" style="align-self: flex-end;">{{ card.suit }}<br>{{ card.rank }}</div>
            </div>
            {% endfor %}
            {% if hide_dealer_card %}
            <div class="card visible" style="background-color: #999; color: #444;">?
            </div>
            {% endif %}
        </div>

        </p>
        {% for hand in player_hands %}
        <div class="hand-title">
            {% if player_hands|length > 1 %}Hand {{ forloop.counter }}{% endif %}
            <p>Bet: {{ hand.bet_amount }}</p>
            <p class="hand-result"><strong>{{ hand.result }}</strong></p>
            {% if hand.is_active%}
            <span style="color: limegreen;">← Playing Now</span>
            {% endif %}
        </div>
        <p>
            Total:
            {% if hand.total > 21 %}
            <strong style="color: red;">TOO MANY!</strong>
            {% endif %}
            {{ hand.value }}
        </p>
        <div class="card-container">
            {% for card in hand.cards %}
            <div class="card visible">
                <div class="top-left" style="align-self: flex-start">{{ card.rank }}<br>{{ card.suit }}</div>
                <div class="bottom-right" style="align-self: flex-end;">{{ card.suit }}<br>{{ card.rank }}</div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}


        {% if messages %}
        {% for message in messages %}<p>{{ message }}</p>{% endfor %}
        {% endif %}

        {% if game.is_active %}
        {% if offer_insurance %}
        <p><strong>Dealer shows Ace. Will you take insurance?</strong></p>
        <div class="button-group">
            <form method="post" action="{% url 'game:insurance' %}">
                {% csrf_token %}
                <button type="submit" name="insurance_choice" value="yes">Yes</button>
                <button type="submit" name="insurance_choice" value="no">No</button>
            </form>
        </div>
        {% elif offer_even_money %}
        <p><strong>Dealer shows Ace. Will you take even money?</strong></p>
        <div class="button-group">
            <form method="post" action="{% url 'game:even_money' %}">
                {% csrf_token %}
                <button type="submit" name="even_money_choice" value="yes">Yes</button>
                <button type="submit" name="even_money_choice" value="no">No</button>
            </form>
        </div>
        {% else %}
        <div class="button-group">
            <form method="post" action="{% url 'game:hit' %}">
                {% csrf_token %}
                <button type="submit">Hit</button>
            </form>
            <form method="post" action="{% url 'game:stand' %}">
                {% csrf_token %}
                <button type="submit">Stand</button>
            </form>
        
            {% if active_hand.can_double %}
            <form method="post" action="{% url 'game:double' %}">
                {% csrf_token %}
                <button type="submit">Double</button>
            </form>
            {% endif %}

            {% if active_hand.can_split %}
            <form method="post" action="{% url 'game:split' %}">
                {% csrf_token %}
                <button type="submit">Split</button>
            </form>
            {% endif %}
        </div>
        {% endif %}
        {% else %}
        <div id="game-result">
            <form method="post" action="{% url 'game:start_hand' %}">
                {% csrf_token %}
                <label for="bet">Wager for Next Hand:</label>
                <input type="number" name="bet" id="bet" value="10" min="1" max="{{ game.chip_count }}" required>
                <button type="submit">Place Bet & Start New Game</button>
            </form>
            <p><a href="{% url 'game:start_hand' %}">Start New Game</a></p>
        </div>
        <script src="{% static 'game/js/play_hand.js' %}"></script>
        {% endif %}
    </div>
</body>

</html>